@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html{
    scroll-behavior: smooth;
}


ul{
    list-style: none
}
a{
    text-decoration: none;
  
}
body{
    background: url(https://res.cloudinary.com/dtpgi0zck/image/upload/s--KuHP6sEY--/c_fill,h_580,w_860/v1/EducationHub/photos/crops-growing-in-thailand.jpg) no-repeat fixed center;
    background-size: cover;
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
    position: relative;
   
    
}
.homepage-link{
    padding-top: 0;
    font-family: 'poppins' ;
    margin-bottom: 40px;
}
.homepage-link a{
    text-align: center;
    background-color: whitesmoke;
    color: black;
    width: 350px;
    font-weight:bolder;
    font-size: 16px;
    border-radius: 15px;
    padding: 15px;
}
.homepage-link a:hover{
    color: rgb(255, 125, 82);
    background-color: whitesmoke;
}
.homepage-link:active{
    transform: scale(1.05);
}
/* -------------------------------------------------------------------------------------------------------- */
.ws-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.ws{
    text-align: center;
    width: 90%;
    height: 650px;
    background-color: #fff;
    margin: 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.3);
   
}